@import url('https://fonts.cdnfonts.com/css/nunito');
                
     * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Nunito', sans-serif;
     
    }
    
    body {
     height: 100%;
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;

    }
    
    .navbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 80px;
     padding: 0px 24px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: transparent;
     z-index:100;
     overflow: hidden;
    }
    
    .logo {
     display: flex;
     align-items: center;
     gap: 8px;
     color: #fff;
     font-size: 30px;
     font-weight: 600;
     margin-left: 0;
      padding-left: 70px;
    }
    
    .logo-icon {
     font-size: 26px;
    }
    .logo-text{
font-family: 'Nunito', sans-serif;
     font-weight: 600;
     font-size: 30px;
    }
    
    .nav-links {
     list-style: none;
     display: flex;
     gap: 30px;
     margin-left: 350px;
    }
    
    .nav-links a {
     text-decoration: none;
     color: #ddd;
     font-family: 'Nunito', sans-serif;
     font-weight: 700;
     font-size: 17px;
    }
    
    .nav-links a:hover,
    .nav-links a.active {
     color: #ff3b3b;
    }
    
    .nav-actions {
     display: flex;
     align-items: center;
     gap: 20px;
     color: #fff;
     margin-right: 100px;
    }
    
.search{
    filter: invert(1);
    font-size: 20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 30px;
    

}
.moon{
    filter: invert(1);
    font-size: 20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    
}
.cap{
    width: 24px;
    height: 26px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    left: 115px;
    
    
}
.btn{
    color: white;
    background: #ec1944;
    font-size: 17px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    line-height: 17px;
    font-family: 'Nunito', sans-serif;                                            
    font-weight: 600;
    border: 0;

}
.btn1{
    color: white;
    background:#ec1944;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    line-height: 17px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    bottom: 10px;
    width: 150px;
    font-weight: 600;
    border: 0;
    
}
.bg-video{
    position: absolute;
   inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.container{
   position: relative;
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.container1{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 5;
    height: auto;
}
.inner{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    max-width: 1200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 10px;
}

.container1 h2{
     font-family: 'Nunito', sans-serif;
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
    width: 500px;
    text-align: left;

}
.container1 p{
        font-size: 18px;
    color: #fff;
    line-height: 1.6;
    letter-spacing: 0.05em;
    text-align: left;
    width: 450px;
     font-family: 'Nunito', sans-serif;
     margin-bottom: 35px;
     padding-top: 10px;   
     
    }
@media   (max-width:768px){

  .navbar{
    justify-content: space-between;
    padding: 0 16px;
    margin-left: 0;
    padding-left: 0;
  }
  .logo{
    padding-left: 30px;
    padding-top: 0;
  }
    .container1{
      align-items: flex-start;
      text-align: left;
      width: 100%;
      margin-top: 0;
      gap: 0;
    }
  .container{
    margin-top: 0;
    padding: 0;
  }
    
    .inner{
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px 40px ;
       height: auto;
    }
    .container1 h2 {
        font-size: 54px;
        width: 600px;
        line-height: 1.2;
        text-align: left;
        margin-top: 0px;
    }
    .container1 p{
        font-size: 16px;
        text-align: left;
        width: 600px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .btn1{
      align-self: flex-start;
      margin-top: 0;
    }
    .cap{
      position: absolute;
      top: 15px;
      left: 72px;
      width: 18px;
      height: auto;
    }
    .santaimage{
        object-fit: contain;
 width: 690px;
 height: auto;
 align-self: flex-start;
 padding-top: 20px;
    }
}
@media   (max-width:480px){

  .navbar{
    justify-content: space-between;
    padding: 0 16px;
    margin-left: 0;
    padding-left: 0;
  }
  .logo{
    padding-left: 30px;
    padding-top: 0;
  }
    .container1{
      align-items: flex-start;
      text-align: left;
      width: 100%;
      margin-top: 0;
      gap: 0;
    }
  .container{
    margin-top: 0;
    padding: 0;
  }
    
    .inner{
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px 40px ;
       height: auto;
    }
    .container1 h2 {
        font-size: 22px;
        width: 600px;
        line-height: 1.2;
        text-align: left;
        margin-top: 0px;
    }
    .container1 p{
        font-size: 12px;
        text-align: left;
        width: 600px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .btn1{
      align-self: flex-start;
      margin-top: 0;
    }
    .cap{
      position: absolute;
      top: 15px;
      left: 72px;
      width: 18px;
      height: auto;
    }
    .santaimage{
        object-fit: contain;
 width: 300px;
 height: auto;
 align-self: flex-start;
 padding-top: 20px;
    }
}
@media (max-width: 480px) {
  .nav-links,.nav-actions {
    display: none; 
  }
  .mobile-controls{
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  .hamburger{
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
    
  }
  .mobile-moon{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}


.santaimage{
 object-fit: contain;
 width: 690px;
 height: auto;
 }

 .hamburger {
  display: none;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background:#ef1944;
        color: #fff;
        border-radius: 4px;
        padding: 0;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
}
 .mobile-moon{
    display: none;
    filter: invert(1);
    font-size: 20px;
    width: 20px;
    height: 20px;
 }

.mobile-menu {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translateX(100%);
  transition: 0.3s ease;
}
 
.mobile-menu.active {
  transform: translateX(0);
}
.nav-actions{
display: flex;
align-items: center;
gap: 16px;
}
.mobile-actions{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mobile-controls{
    display: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
 
.mobile-menu .active {
  color: #ef1944;
}
@media (max-width: 768px) {
  .nav-links,.nav-actions {
    display: none; 
  }
  .mobile-controls{
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  .hamburger{
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
    
  }
  .mobile-moon{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}