body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: black;
    background-color: gainsboro;
}
.homepage{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.bg-video{
    position: relative;
    inset:0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(1.2);
    z-index: 1;
}
.overlay{
    position: relative;
    inset: 0;
    background:rgba(9, 9, 9, 0.15);
    z-index: 2;
}
.content{
position: absolute;
min-height: 100vh;
color: rgb(255, 254, 254);
z-index: 3;
inset: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 80px;
}

.santaimage{
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 400px;
    height: 400px;
}
.logo{
    position:relative;
    left: -100px;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 238, 239);
    font-weight: 600px;
    
}
.nav-about{
    position: fixed;
    top: 20px;
    left: -50px;
    right:0 ;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding:0px;
    z-index: 1;
    background: transparent;
    transition: background-color 0.3s ease,box-shadow 0.3s ease;  
}
.nav-about .nav-links{
    list-style: none;
    display: flex;
    gap: 80px;
    color: white;
}
.nav-about ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.nav-about ul li a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(241, 239, 239);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.nav-about .dropdown{
    position: relative;
}
.nav-about .dropdown-content{
    display: none;
    padding: 10px 15px;
    color: #222;
    text-decoration: none;
    font-size: 16px;
    top: 25px;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0,0,0, 25) ;
    z-index: 1000;
}
.nav-about .dropdown-content a{
    color: black;
}
.nav-about .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: #f5f1f1;
}

.nav-about a:hover{
    color: red;
}
.btn{
    color: white;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    top: 0px;
    background: linear-gradient(135deg,#ff4d4d,#ff914d);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 100px;
    height: 60px;
    
}

.btn:hover{
    background: linear-gradient(135DEG,#ff4d4d,#ff914d);
    transform: translateY(-2px);
   
}
.hero {
    border: none;
    width: 600px;
}
.hero h1,h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    
}

.submit-btn{
    color: white;
    background-color: red;
    padding: 20px 30px;
    border-radius: 10px;
    top: 0px;
    background: linear-gradient(0deg,#ff4d4d,#ff914d);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 140px;
    height: 60px;
    margin-top: 40px;

}
.submit-btn:hover{
    background: linear-gradient(135DEG,#ff4d4d,#ff914d);
    transform: translateY(-2px);

}

.about-section{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: white;
    color: gray;
    min-height: 100vh;
}

.about-section h1{
    color: red;
    font-size: 18px;
  

}
.about-section p{
    color: rgb(109, 109, 109);
    width: 600px;
    height: 150px;
    margin-top: 50px;
    font-size: 18px;
    word-spacing: 1.5px;
    
}
.about-section h2{
    color: black;
    font-size: 40px;
    margin: 50px;
}
.fried-source{
position: absolute;
right: 80px;
top: 40px;
width:500px;
height: 500px;
border-radius: 10px;
}

.about-button{
    color: white;
    background-color: red;
    border-radius: 10px;
    background: linear-gradient(135deg,#ff4d4d,#ff914d);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 150px;
    height: 50px;
 

}
.about-button:hover{
    background: linear-gradient(135DEG,#ff4d4d,#ff914d);
    transform: translateY(-2px);

}



